aiohttp==3.6.2
async-generator==1.10
async-timeout==3.0.1
discord==1.0.1
discord.py==1.5.1
praw==7.2
prawcore==1.5.0
protobuf==3.13.0
reddit==0.0.1
requests==2.24.0
requests-toolbelt==0.7.0
rsa==4.6
selenium==3.141.0
six==1.15.0
smmap==3.0.4
urllib3==1.25.10
validators==0.18.1
youtube-dl==2021.2.22
